
@{
    ViewBag.Title = "Index";
    
}

@using (Html.BeginForm("checkout", "Cart", FormMethod.Post))
{
    
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li class='active'>Shopping Cart</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->

    <div class="body-content outer-top-xs">
        <div class="container">
            <div class="row ">

                <div class="shopping-cart">
                    <div class="shopping-cart-table ">
                        <div class="table-responsive">


                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-romove item">Remove</th>
                                        <th class="cart-description item">Image</th>
                                        <th class="cart-product-name item">Product Name</th>
                                        <th class="cart-edit item">Edit</th>
                                        <th class="cart-qty item">Quantity</th>
                                        <th class="cart-sub-total item">Subtotal</th>
                                        <th class="cart-total last-item">Grandtotal</th>
                                    </tr>
                                </thead><!-- /thead -->

                                <tbody>


                                    @foreach (var item2 in ViewBag.order.ProductsQuantities)
                                    {
                                        

                                        ViewBag.ID = item2.Product.ID;
                                    <tr>
                                        <td class="romove-item"><a id="removeProduct.@item2.Product.ID" onclick="remove(e, this.id)" href="/Cart/RemoveFromCart/@item2.Product.ID" title="cancel" class="icon"><i class="fa fa-trash-o"></i></a></td>
                                        @*<td class="romove-item"><button id="removeProduct.@item2.Product.ID" onclick="remove(e, this.id)" title="cancel" class="icon"><i class="fa fa-trash-o"></i></button></td>*@

                                        <td class="cart-image">
                                            <a class="entry-thumbnail" href="/Products/Details/@item2.Product.ID">
                                                <img src="~/Images/ProductsImages/@item2.Product.ImageURL" alt="">
                                            </a>
                                        </td>
                                        <td class="cart-product-name-info">
                                            <h4 class='cart-product-description'><a href="/Products/Details/@item2.Product.ID">@item2.Product.Name</a></h4>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="rating rateit-small"></div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="reviews">
                                                        (06 Reviews)
                                                    </div>
                                                </div>
                                            </div><!-- /.row -->
                                            <div class="cart-product-info">
                                                <span class="product-color">COLOR:<span>Blue</span></span>
                                            </div>
                                        </td>
                                        <td class="cart-product-edit"><a href="#" class="product-edit">Edit</a></td>
                                        <td class="cart-product-quantity">
                                            @*<div class="quant-input">
                <div class="arrows">
                    <div class="arrow plus gradient"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
                    <div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
                </div>
                <input type="text" value="1">
            </div>*@
                                            @item2.Quantity
                                        </td>
                                        <td class="cart-product-sub-total"><span class="cart-sub-total-price">@item2.Product.Price</span></td>
                                        <td class="cart-product-grand-total"><span class="cart-grand-total-price">@ViewBag.order.TotalPrice</span></td>
                                    </tr>

                                    }

                                </tbody><!-- /tbody -->

                                <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <div class="shopping-cart-btn">
                                                <span class="">
                                                    <a href="#" class="btn btn-upper btn-primary outer-left-xs">Continue Shopping</a>
                                                    <a href="#" class="btn btn-upper btn-primary pull-right outer-right-xs">Update shopping cart</a>
                                                </span>
                                            </div><!-- /.shopping-cart-btn -->
                                        </td>
                                    </tr>
                                </tfoot>
                            </table><!-- /table -->
                        </div>
                    </div><!-- /.shopping-cart-table -->				<div class="col-md-4 col-sm-12 estimate-ship-tax">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="estimate-title">Estimate shipping and tax</span>
                                        <p>Enter your destination to get shipping and tax.</p>
                                    </th>
                                </tr>
                            </thead><!-- /thead -->
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="info-title control-label">Country <span>*</span></label>
                                            @Html.TextBox("Country", null, new { @class = "form-control" })
                                            @*<select class="form-control unicase-form-control selectpicker">
                                                    <option>--Select options--</option>
                                                    <option>India</option>
                                                    <option>SriLanka</option>
                                                    <option>united kingdom</option>
                                                    <option>saudi arabia</option>
                                                    <option>united arab emirates</option>
                                                </select>*@
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title control-label">City <span>*</span></label>
                                            @Html.TextBox("City", null, new { @class = "form-control" })

                                            @*<select class="form-control unicase-form-control selectpicker">
                                                    <option>--Select options--</option>
                                                    <option>TamilNadu</option>
                                                    <option>Kerala</option>
                                                    <option>Andhra Pradesh</option>
                                                    <option>Karnataka</option>
                                                    <option>Madhya Pradesh</option>
                                                </select>*@
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title control-label">Street</label>
                                            <input type="text" name="Street" class="form-control unicase-form-control text-input" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title control-label">Bulding Number</label>
                                            <input type="text" name="BuildingNumber" class="form-control unicase-form-control text-input" placeholder="">
                                        </div>
                                        <div class="pull-right">
                                            @* <input type="submit" class="btn-upper btn btn-primary" value="GET A QOUTE">*@
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.estimate-ship-tax -->
                    <!--<div class="col-md-4 col-sm-12 estimate-ship-tax">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="estimate-title">Discount Code</span>
                                        <p>Enter your coupon code if you have one..</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control unicase-form-control text-input" placeholder="You Coupon..">
                                        </div>
                                        <div class="clearfix pull-right">
                                            <button type="submit" class="btn-upper btn btn-primary">APPLY COUPON</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>-->
                    <!-- /tbody -->
                    <!--</table>--><!-- /table -->
                    <!--</div>--><!-- /.estimate-ship-tax -->

                    <div class="col-md-4 col-sm-12 cart-shopping-total">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="cart-sub-total">
                                            Subtotal<span class="inner-left-md">@ViewBag.order.TotalPrice</span>
                                        </div>
                                        <div class="cart-grand-total">
                                            Grand Total<span class="inner-left-md">@ViewBag.order.TotalPrice</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead><!-- /thead -->
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="cart-checkout-btn pull-right">
                                            @*<button type="submit" class="btn btn-primary checkout-btn">PROCCED TO CHEKOUT</button>*@
                                            @* @Html.ActionLink("PROCCED TO CHEKOUT", "checkout", "Cart", null, new { @class = "btn btn-primary checkout-btn" })*@
                                            <input type="submit" value="PROCCED TO CHEKOUT" class="btn btn-primary checkout-btn" />
                                            <span class="">Checkout with multiples address!</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody><!-- /tbody -->
                        </table><!-- /table -->

                    </div><!-- /.cart-shopping-total -->
                </div><!-- /.shopping-cart -->
            </div><!-- /.row -->
            <!-- ============================================== BRANDS CAROUSEL ============================================== -->
            <div id="brands-carousel" class="logo-slider wow fadeInUp">

                <div class="logo-slider-inner">
                    <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
                        <div class="item m-t-15">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item m-t-10">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand3.png" src="assets/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand6.png" src="assets/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt="">
                            </a>
                        </div><!--/.item-->
                    </div><!-- /.owl-carousel #logo-slider -->
                </div><!-- /.logo-slider-inner -->

            </div><!-- /.logo-slider -->
            <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
        </div><!-- /.container -->
    </div><!-- /.body-content -->
    <!-- ============================================================= FOOTER ============================================================= -->
    <!-- ============================================== INFO BOXES ============================================== -->
    <div class="row our-features-box">
        <div class="container">
            <ul>
                <li>
                    <div class="feature-box">
                        <div class="icon-truck"></div>
                        <div class="content-blocks">We ship worldwide</div>
                    </div>
                </li>
                <li>
                    <div class="feature-box">
                        <div class="icon-support"></div>
                        <div class="content-blocks">
                            call
                            +1 800 789 0000
                        </div>
                    </div>
                </li>
                <li>
                    <div class="feature-box">
                        <div class="icon-money"></div>
                        <div class="content-blocks">Money Back Guarantee</div>
                    </div>
                </li>
                <li>
                    <div class="feature-box">
                        <div class="icon-return"></div>
                        <div class="content">30 days return</div>
                    </div>
                </li>

            </ul>
        </div>
    </div>

}
@*@section scripts{
    <script>
        var id=$("#remove")
            $(function () {

                function remove(e, myid) {
                    var id = myid.split('.')[1];
                    $.ajax({
                        url: "/Cart/RemoveFromCart",
                        data: id,
                        success: function (res) { console.log(res) },
                        error: function (err) { console.log(err) }

                    })
                }
            })
        </script>
}*@