
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>welcome Admin</h2>

<dl style="text-align:center">
    <dt>Profile Image</dt>

    <dd><img src="~/Images/UsersProfile/@Model.UserImg" style="border-radius:50%" width="70px" height="70px" /></dd>
    <dt>ID</dt>
    <dd>@Model.Id</dd>
    <dt>First Name</dt>
    <dd>@Model.FirstName</dd>
    <dt>Last Name</dt>
    <dd>@Model.LastName</dd>
    <dt>Company Name</dt>
    <dd>@Model.CompanyName</dd>
    <dt>Phone Number</dt>
    <dd>@Model.PhoneNumber</dd>
    <dt>Birt Date</dt>
    <dd>@Model.DaetOfBirth.ToString("dd/M/yyyy")</dd>

</dl>