@model ECommerceApp.Models.ApplicationUser
@{
    ViewBag.Title = "Edit";
    ViewBag.Name = "Name";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-6 col-sm-6 create-new-account">
    <h4 class="checkout-subtitle">Create a new account</h4>
    <p class="text title-tag-line">Create your new account.</p>
    @* <form class="register-form outer-top-xs" role="form">*@
    @using (Html.BeginForm("edit", "Users", FormMethod.Post, new { @class = "register-form outer-top-xs", enctype = "multipart/form-data", role = "form" }))
    {
        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "Text-danger" })
        <div class="form-group">
            <label class="info-title" for="Email">Email Address <span>*</span></label>
            <input type="email" value="@Model.Email" class="form-control unicase-form-control text-input" id="exampleInputEmail2" name="Email">
        </div>
        <div class="form-group">
            <label class="info-title" for="FirstName">First Name <span>*</span></label>
            <input type="text" value="@Model.FirstName" class="form-control unicase-form-control text-input" id="exampleInputEmail1" name="FirstName">
        </div>
        <div class="form-group">
            <label class="info-title" for="LastName">Last Name <span>*</span></label>
            <input type="text" value="@Model.LastName" class="form-control unicase-form-control text-input" id="exampleInputEmail1" name="LastName">
        </div>
        <div class="form-group">
            <label class="info-title" for="Password">Password <span>*</span></label>
            <input type="password"  class="form-control unicase-form-control text-input" id="exampleInputEmail1" name="Password">
        </div>
        <div class="form-group">
            <label class="info-title" for="ConfirmPassword">Confirm Password <span>*</span></label>
            <input type="password"  class="form-control unicase-form-control text-input" name="ConfirmPassword" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            <label class="info-title" for="PhoneNumber">PhoneNumber <span>*</span></label>
            <input type="text" value="@Model.PhoneNumber" class="form-control unicase-form-control text-input" id="exampleInputEmail1" name="PhoneNumber">
        </div>
        <div class="form-group">
            <label class="info-title" for="CompanyName">Company Name <span>*</span></label>
            <input type="text" value="@Model.CompanyName" class="form-control unicase-form-control text-input" name="CompanyName" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.DaetOfBirth, new { @class = "info-title" })<span>*</span>
            @Html.EditorFor(a => a.DaetOfBirth, new { @class = "form-control unicase-form-control text-input",value=Model.DaetOfBirth })
            @*<input type="text" class="form-control unicase-form-control text-input" name="CompanyName" id="exampleInputEmail1">*@
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.UserImg, new { @class = "info-title" })<span>*</span>
            <input type="file" name="UserImg" class="form-control" />

        </div>



        <input value="Register" type="submit" class="btn-upper btn btn-primary checkout-page-button" />
    }
    @Html.ActionLink("BackTOlist", "index")


</div>

